body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.gradient-background {
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    animation: gradientAnimation 5s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    text-align: center;
    color: white;
}

.buttons {
    margin-top: 20px;
}

.buttons button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #3D68EF;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #45a049;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
